.cards-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-container{
    width: 300px;
    height: 400px;
    background-color: #888888;
    text-align: center;
    border-radius: 10px;
    color: white;
    transition: 0.3s;
    margin: 20px;
}

.card-container:hover{
    transform: scale(1.05);
}

.card-container img{
    width: 300px;
    height: 300px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}