.news-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px;
}

.art-1{
    width: 200px;
    text-align: justify;
    
}

.art-2{
    width: 200px;
    text-align: justify;
}

.art-3{
    width: 200px;
    text-align: justify;
}

.art-1 img{
    height: 100px;
    width: 200px;
}

.art-2 img{
    height: 100px;
    width: 200px;
}

.art-3 img{
    height: 100px;
    width: 200px;
}