.container-acceso-directo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 283px;
}

.acceso-directo1{
   
    width: 33.33%;
    height: 600px;
    background-color: #FE3838;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.acceso-directo1 img{
    height: 200px;
    width: 300px;
}
.button-pediya1{
    background-color:#EF7E63; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-top: 5px;
}


.acceso-directo2 img{
    height: 230px;
    width: 230px;
    margin-top: -27px;
}
.button-pediya2{
    background-color:#EF7E63; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-top: 5px;
}


.acceso-directo3 img{
    height: 280px;
    width: 280px;
    margin-top: -22px;
}

.button-pediya3{
    background-color:#EF7E63; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
    margin-top: 5px;
}

.acceso-directo1 h4{
    color: white;
}

.acceso-directo2 h4{
    color: white;
}

.acceso-directo3 h4{
    color: white;
   margin-top: -55px;
}


.acceso-directo2{
   
    width: 33.33%;
    height: 600px;
    background-color: #E49F36;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    
}
.acceso-directo3{

    width: 33.33%;
    height: 600px;
    background-color: #651616;
    display: flex;
    align-items: center;
    justify-content: center;
   flex-direction: column;
    
}

.main-container-home{
    background-color: #D9D9D9;
}
.phrase-home{
    color: #EF7E63;
    font-size: 46px;
    font-family: 'Fredoka One', cursive;
}
.phrase-span{
    color: #EF7E63;
    font-size: 46px;
    font-weight: bold;
    font-family: 'Fredoka One', cursive;
}

.phrase-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 300px;
    margin-right: 300px;

}

.p-b-main{
    height: 0.01px;
    margin-top: 100px;
   
}

.button-pediya{
    background-color:#EF7E63; 
    border: none;
    border-radius: 10px;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}


.carousel{
    height:90%;
    width: 90%;
   padding: auto;
   margin-left: 5%;
}