.menu-main-container{
    max-height: 100%;
}

.filters-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5ebdc;
    padding-bottom: 20px;
}
.filters{
    margin-left: 50px;
    margin-right: 50px;
}
.cards-container{
    background-color: #f5ebdc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (min-width: 576px) and (max-width: 930px) and (orientation:portrait){

    .filters-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f5ebdc;
        padding-bottom: 20px;
    }
}