.filters-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5ebdc;
    padding-bottom: 20px;
}
.filters{
    margin-left: 50px;
    margin-right: 50px;
}
.cards-container{
    background-color: #f5ebdc;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}